
.DS_Store
CO2_Tracker/API_KEY.txt
build-CO2_Tracker-Desktop_Qt_5_12_5_clang_64bit-Debug
build-CO2_Tracker-Desktop_Qt_5_12_5_clang_64bit-Debug-old
build-CO2_Tracker-Desktop_Qt_5_12_11_MinGW_32_bit-Debug
build-CO2_Tracker-Replacement_for_Desktop_Qt_5_12_5_clang_64bit-Debug
build-CO2_Tracker-Qt_6_2_2_for_macOS-Debug