
.DS_Store
CO2_Tracker/API_KEY.txt
Server/build-tcp_console_new-Qt_6_1_3_for_macOS-Debug/.qmake.stash
Server/build-tcp_console_new-Qt_6_1_3_for_macOS-Debug/main.o
Server/build-tcp_console_new-Qt_6_1_3_for_macOS-Debug/moc_main.cpp
Server/build-tcp_console_new-Qt_6_1_3_for_macOS-Debug/Makefile
Server/build-tcp_console_new-Qt_6_1_3_for_macOS-Debug/moc_main.o
Server/build-tcp_console_new-Qt_6_1_3_for_macOS-Debug/moc_predefs.h
Server/build-tcp_console_new-Qt_6_1_3_for_macOS-Debug/tcp_console_new
Server/tcp_console_new/tcp_console_new.pro.user
CO2_Tracker/resources/build/.qmake.stash
CO2_Tracker/resources/build/moc_predefs.h
